.badge{
    display:inline-flex;

    align-items:center;
    justify-content:center;

    padding:8px 14px;

    border-radius:999px;

    color:white;

    font-weight:600;

    font-size:14px;

    margin:4px;
}